@{
    ViewBag.Title = "Zapomniałeś hasła? Potwierdzenie";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Prosze sprawdzić swój email w celu ustawienia nowego hasła.
    </p>
</div>
	
