@{
    ViewBag.Title = "Kontakt";
}

<br /><br />
<address>
    <h2><b>Przemysław Tokarski </b></h2>
   <h3> <abbr title="Email">Email:</abbr>
    tokaros@gmail.com<br /><br />
    <abbr title="Phone">Telefon:</abbr>
    555.555.555</h3>
</address>

